<div class="container">
  <div class="text">
  <div class="row mt-5">
    <div class="col-5">
      <h2 class="text-center" style= "background-color: #C2EEFF"><%= @member.first_name + @member.last_name %>さんの会員詳細</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 my-5">

      <table class='table table-borderless'>
        <tr>
          <th>会員ID</th>
          <th><%= @member.id %></th>
        </tr>
        <tr>
          <th>氏名</th>
          <th><%= @member.first_name + @member.last_name %></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= @member.kana_first_name + @member.kana_last_name %></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th><%= @member.postal_code %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= @member.street_address %></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th><%= @member.phone_number %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @member.email %></th>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <th>
            <% if @member.is_active == "Available" %>
              <span class="text-success">有効</span>
            <% else %>
              <span class="text-black-50">退会</span>
            <% end %>
          </th>
        </tr>
      </table>
      <div>
        <%= link_to "編集する", edit_admin_member_path(@member), class: "btn btn-success btn-sm mx-5" %>
        <%= link_to "注文履歴一覧を見る", admin_orders_path(member_id: @member.id), class: "btn btn-primary btn-sm mx-5" %>
      </div>
    </div>
  </div>

  </div>
</div>





