<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2 class= "text-center" style= "background-color: rgba(0, 0, 0, 0.5);">商品一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price_without_tax %></td>
            <td><%= item.genre_id %></td>
            <td><%= item.is_active %</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
