<div class="container">
    <div class="row">
        <div class="mx-auto"> 
        <h2>商品新規登録</h2>
            <br>
            <%= form_with model:@item, local:true do |f| %>
            <div class="form-group"> 
                <label for="item_image">商品画像</label>
                <%= f.attachment_field :item_image %>
            </div>
            
            <div class="form-group">
                <%= f.label :name, "商品名" %>
                <%= f.text_field :name, class: 'form-control'%>
            </div>
            
            <div class="form-group">
                 <%= f.label :item_introduction, '商品説明' %>
                 <%= f.text_field :item_introduction, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :genre_id, "ジャンル" %>
                <%= f.select :item_id, [["ケーキ","ケーキ"], ["プリン","プリン"], ["焼き菓子","焼き菓子"], ["キャンディ","キャンディ"]] %>
            </div>
            
            <div class="form-group">
                 <%= f.label :price_without_tax, "税抜き価格" %>
                 <%= f.text_field :price_without_tax, class: 'form-control'%>
            </div>
            
            <div class="form-group">
                <label><%= f.radio_button :is_active, "販売中" %>販売中</label>
                <label><%= f.radio_button :is_active, "販売停止中" %>販売停止中</label>
            </div>
            
            <div class="form-group">
                <button class = "btn btn-success ">新規登録</button>
            </div>
            <% end %>
        </div>
    </div>
</div>
