<div class="container">
    <div class="row">
        <%= attachment_image_tag user, :item_image, size:'100x100', fallback: "no_image.jpg", size:'100x100' %>
        <div class="mx-auto">
            <div class="form-group">
                 <%= label :name, "商品名" %>
                 <%= @item.name %>
            </div>
            
            <div class="form-group">
                <%= label :item_introduction, '商品説明' %>
                <%= @item.item_introduction %>
            </div>
            
            <div class="form-group">
                <%= label :genre_id, "ジャンル" %>
                <%= @item.genre_id.name %>
            </div>
            
            <div class="form-group">
                <%= label :price_without_tax, "税込み価格（税抜き価格）" %>
                <%= addTax(@item.price_without_tax,1.08)  %>
                (<%= @item.price_without_tax %>)円
            </div>
            
             <div class="form-group">
             　<%= @item.is_active %>
            </div>
        </div>
    </div>
</div>
