<div class="container">
  <div class="text">
  <div class="row mt-5">
    <h2 class = "text-center" style= "background-color: #C2EEFF">注文履歴詳細</h2>
  </div>
  <div class="row col-6">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>購入者</th><td><%= link_to @order.member.first_name + @order.member.last_name, admin_member_path(@order.member) %></td>
        </tr>
        <tr>
          <th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        </tr>
        <tr>
          <th>配送先</th><td><%= @order.shipping_street_address %></td>
        </tr>
        <tr>
          <th></th><td><%= @order.shipping_name %></td>
        </tr>
        <tr>
          <th>支払い方法</th><td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>注文ステータス</th><td>
             <%= form_with model:@order, url: admin_order_path, method: :patch, local:true do |f| %>
             <%= f.select :order_status, Order.order_statuses.keys.map {|k| [k, k]}, {} %>
             <%= f.submit "更新" , class: "btn btn-success mx-5" %>
             <% end %>
          </td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="row">

    <table class="table col-8">
      <thead bgcolor=#C2EEFF>
        <tr>
          <th>商品名</th>
          <th>単価（税込み）</th>
          <th>数量</th>
          <th>小計</th>
          <th>制作ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
         <% @order.ordered_items.each do |ordered_item| %>
        <tr>
          <td>
            <%= ordered_item.item.name %>
          </td>
          <td>
            <%= number_to_currency(ordered_item.item.price_without_tax*1.08, unit:"", strip_insignificant_zeros: true, precision:0) %>
          </td>
          <td>
            <%= ordered_item.quantity %>
          </td>
          <td>
             <%= number_to_currency(ordered_item.item.price_without_tax*1.08*ordered_item.quantity, unit:"", strip_insignificant_zeros: true, precision:0) %>
          </td>
          <td>
            <%= form_with model: ordered_item, url: admin_order_details_path(ordered_item), method: :patch, local:true do |f| %>
            <%= f.select :production_status, OrderedItem.production_statuses.keys.map {|k| [k, k]}, {} %>
            <%= f.submit "更新" , class: "btn btn-success ml-5" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-borderless offset-1 col-3 align-self-end">
      <thead>
        <tr>
          <th>商品合計</th><td><%= number_to_currency((@order.billing_amount - @order.postage), unit:"", strip_insignificant_zeros: true, precision:0) %></td>
        </tr>
        <tr>
          <th>送料</th><td><%= @order.postage %></td>
        </tr>
        <tr>
          <th>請求額合計</th><td><%= number_to_currency(@order.billing_amount, unit:"", strip_insignificant_zeros: true, precision:0) %></td>
        </tr>
      </thead>
    </table>
  </div>
  </div>
</div>