<div class="container">
  <div class="text">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row mt-5">
        <div class="col-6">
          <h2 class="text-center" style= "background-color: #EEEEEE">ショッピングカート</h2>
        </div>
      </div>

      <div class= "row offset-10 col-2">
        <%= link_to "全て削除", destroy_all_cart_items_path, method: :delete, class: 'btn btn-danger btn-sm' %>
      </div>
      <br>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込み）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.item, :item_image, fallback: "no_image.jpg", size:'40x40' %>
              <%= cart_item.item.name %>
            </td>
            <td>
              <%= number_to_currency(cart_item.item.price_without_tax*1.08, unit:"", strip_insignificant_zeros: true, precision:0) %>
            </td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local:true do |f| %>
               <%= f.select :quantity, options_for_select(1..20, selected: cart_item.quantity ) %>
               <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td>
             <%= number_to_currency(cart_item.item.price_without_tax*1.08*cart_item.quantity, unit:"", strip_insignificant_zeros: true, precision:0) %>
            </td>
            <td>
              <%= link_to "Destroy", cart_item_path(cart_item), method: :delete, "data-confirm" => "本当に消しますか", class: 'btn btn-danger btn-sm'%>
            </td>
          </tr>
          <% @sum +=  (cart_item.total_price).to_i %>
          <% end %>
        </tbody>
      </table>
      <div class="offset-1">
         <%= link_to "買い物を続ける", root_path, class: "col-2" "btn btn-primary btn-sm" %>
         <div class="offset-7">
           <table class="table table-bordered">
             <tr>
               <th class="table-active">合計金額</th><td><%= @sum.to_s(:delimited) %></td>
             </tr>
           </table>
         </div>
      </div>
      <br>
      <div class="mx-auto text-center">
         <%= link_to "情報入力に進む", new_order_path, class: "col-2" "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
  </div>
</div>