<div class="container">
  <h4>注文情報確認</h4>

  <!--注文情報確認画面-->
  <div class="row">
    <div class="col-8 my-5">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
            <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= attachment_image_tag cart_item.item, :item_image, :fill, 50, 40, fallback:"no_image.jpg" %>
                <%= cart_item.item.name %>
              </td>
              <td>
                <%= number_to_currency(cart_item.item.price_without_tax*1.08, unit:"¥", strip_insignificant_zeros: true)  %>
              </td>
              <td>
                <%= cart_item.quantity %>
              </td>
              <td>
                <%= number_to_currency(cart_item.total_price.to_i, unit:"¥", strip_insignificant_zeros: true) %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>

    <!--送料・商品合計・請求金額-->
    <div class="col-4 my-5">
      <table class="table table-bordered" style="-ms-writing-mode : tb-lr; writing-mode : vertical-lr;">
        <thead class="thead-light">
          <tr>
            <th><span>送料</span></th>
            <th><span>商品合計</span></th>
            <th><span>請求金額</span></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><span><%= number_to_currency(@order.postage, unit:"¥", strip_insignificant_zeros: true) %></span></tb>
              <td>
                <span><%= number_to_currency(@amount_without_postage, unit:"¥", strip_insignificant_zeros: true) %></span>
              </td>
              <td>
                <span><%= number_to_currency(@billing_amount, unit:"¥", strip_insignificant_zeros: true) %></span>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

    <!--支払い方法-->

  <div class="row">
    <h5 class="col-sm-3">支払い方法</h5>
    <div class="col-sm-6"><%= @order.payment_method %></div>
  </div>

    <!--お届け先-->
  <div class="row">
    <h5 class="col-sm-3">お届け先</h5>
    <div class="col-sm-6">
      <%= "〒" + @order.shipping_postal_code.to_s.insert(3, "-") %>
      <%= @order.shipping_street_address %><br>
      <%= @order.shipping_name %>
    </div>
  </div>

  <!--hidden_field-->
  <div>
    <%= form_with model: @order, url: orders_path, method: :post, local:true do |f| %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
      <%= f.hidden_field :shipping_postal_code, :value => @order.shipping_postal_code %>
      <%= f.hidden_field :shipping_street_address,:value => @order.shipping_street_address %>
      <%= f.hidden_field :shipping_name, :value => @order.shipping_name %>
      <%= f.hidden_field :shipping, :value => @shipping_data_selection %>
      <div class="mx-auto my-5" style="width: 100px;">
        <%= f.submit "注文を確定する", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

</div>

