<div class="container">
  <div class="text">

  <h4>注文情報入力</h4>
  <div class="row">
    <%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
    <!--支払い方法の選択-->
    <div class="col-10 my-3">
      <h5>支払い方法</h5>
      <div>
        <%= f.radio_button :payment_method, :クレジットカード %>
        <%= f.label :クレジットカード, style: "display: inline-block;" %>
      </div>
      <div>
        <%= f.radio_button :payment_method, :銀行振込 %>
        <%= f.label :銀行振込, style: "display: inline-block;" %>
      </div>
    </div>

    <!--お届け先の選択-->
    <div class="col-10 my-3">
      <h5>お届け先</h5>
      <div class="container">
        <!--お届け先①　ご自身の住所-->
        <div class="row my-3">
          <div class="col-10">
            <%= f.radio_button :shipping, 1 %>
            <%= f.label :shipping, "ご自身の住所" %>
          </div>
          <div class="col-10">
           <%= "〒" + @order.member.postal_code.to_s.insert(3, "-") %>
           <%= @order.member.street_address %> <br>
           <%= @order.member.first_name + @order.member.last_name %>
          </div>
        </div>
        <!--お届け先②　登録済み住所から選択-->
        <div class="row my-3">
          <div class="col-10">
            <%= f.radio_button :shipping, 2 %>
            <%= f.label "登録済み住所から選択" %>
          </div>
          <div class="col-10 form-group">
            <%= f.collection_select :shipping_address_id, @shipping_addresses,:id, :shipping_data,  {}, :class => "form-control" %>
          </div>
        </div>
          <!--お届け先③　新しいお届け先-->
        　<div>
            <%= f.radio_button :shipping, 3 %>
          <%= f.label "新しいお届け先" %>
            <div class="row form-group">
              <%= f.label :shipping_postal_code, "郵便番号(ハイフンなし)", class: "col-sm-4" %>
              <%= f.text_field :shipping_postal_code, placeholder: "0000000", class: 'form-control col-sm-3' %>
            </div>
            <div class="row form-group">
              <%= f.label :shipping_street_address, "住所", class: "col-sm-4" %>
              <%= f.text_field :shipping_street_address, placeholder: "東京都渋谷区代々木神園町0-0", class: 'form-control col-sm-8' %>
            </div>
            <div class="row form-group">
              <%= f.label :shipping_name, "宛名", class: "col-sm-4"%>
              <%= f.text_field :shipping_name, placeholder: "令和道子", class: 'form-control col-sm-4' %>
            </div>
          </div>
          <!--------------------->
      </div>
      <div class="mx-auto my-5" style="width: 100px;">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary"%>
      </div>
    </div>
    <% end %>
  </div>

  </div>
</div>
