<h1>注文情報入力</h1>

<div>
<%= form_with model: @order, local:true do |f| %>
  <%= f.radio_button :payment_method, :credit_card %>
  <%= f.label :payment_method, "クレジットカード", {value: :credit_card, style: "display: inline-block;"} %>
  <%= f.radio_button :payment_method, :bank_transfer %>
  <%= f.label :payment_method, "銀行振込", {value: :bank_transfer, style: "display: inline-block;"} %>
<% end %>
</div>