<div class="container">
  <div class="text">

  <div class="row mt-5">
    <h2 class = "text-center" style= "background-color: #EEEEEE">注文履歴詳細</h2>
  </div>


  <!--注文情報-->
  <div class="row">
    <div class="col-8 my-5">
      <p>注文情報</p>
      <table class="table table-bordered" style="-ms-writing-mode : tb-lr; writing-mode : vertical-lr;">
        <thead class="thead-light">
          <tr>
            <th><span>注文日</span></th>
            <th><span>配送先</span></th>
            <th><span>支払い方法</span></th>
            <th><span>ステータス</span></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <span><%= @order.created_at.strftime('%Y/%m/%d') %></span>
              </td>
              <td><span>
                <%= "〒" + @order.shipping_postal_code %><br>
                <%= @order.shipping_street_address %><br>
                <%= @order.shipping_name %>
              </td></span>
              <td><span>
                <%= @order.payment_method %>
              </td>
              <td><span>
                <%= @order.order_status %>
              </td></span>
            </tr>
        </tbody>
      </table>
    </div>

    <!--請求情報-->
    <div class="col-4 my-5">
      <p>請求情報</p>
      <table class="table table-bordered" style="-ms-writing-mode : tb-lr; writing-mode : vertical-lr;">
        <thead class="thead-light">
          <tr>
            <th><span>商品合計</span></th>
            <th><span>配送料</span></th>
            <th><span>ご請求額</span></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <span><%= number_to_currency((@order.billing_amount - @order.postage), unit:"", strip_insignificant_zeros: true, precision:0) %>
              <td>
                <span><%= @order.postage %></span>
              </td>
              <td>
                <span><%= number_to_currency(@order.billing_amount, unit:"", strip_insignificant_zeros: true, precision:0) %></span>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--注文内容-->
  <div class="row">
    <div class="col-10 my-5">
      <p>注文内容</p>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th style="width:50%">商品</th>
            <th style="width:20%">単価(税込)</th>
            <th style="width:15%">個数</th>
            <th style="width:15%">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.ordered_items.each do |ordered_item| %>
            <tr>
              <td>
                <%= ordered_item.item.name %>
              </td>
              <td>
                <%= number_to_currency(ordered_item.item.price_without_tax*1.08, unit:"", strip_insignificant_zeros: true, precision:0) %>
              </td>
              <td>
                <%= ordered_item.quantity %>
              </td>
              <td>
                <%= number_to_currency(ordered_item.item.price_without_tax*1.08*ordered_item.quantity, unit:"", strip_insignificant_zeros: true, precision:0) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>

